name: Scala CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  SBT_OPTS: -Xms256m -Xmx8G -XX:MaxMetaspaceSize=2G
  DISABLE_SCALAFMT: true

jobs:
  sbt-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - name: Set up JDK 17
      uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
      with:
        distribution: zulu
        java-version: 17
    - name: Install sbt
      uses: sbt/setup-sbt@v1
    - uses: actions/cache@v3
      with:
        path: |
          ~/.m2
          ~/.sbt
          ~/.ivy2/cache
        key: ${{ runner.os }}-${{ hashFiles('build.sbt') }}
    - name: Run tests
      run: sbt +test

  compile-microsite:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        distribution: zulu
        java-version: 17
    - name: Install sbt
      uses: sbt/setup-sbt@3e125ece5c3e5248e18da9ed8d2cce3d335ec8dd # v1.1.14
    - name: Update package descriptions
      run: sudo apt update
    - name: Install jekyll
      run: sudo apt -y install jekyll
    - uses: actions/cache@v3
      with:
        path: |
          ~/.m2
          ~/.sbt
          ~/.ivy2/cache
        key: ${{ runner.os }}-${{ hashFiles('build.sbt') }}
    - name: Compile microsite
      run: sbt docs/makeMicrosite

