name: Publish

on:
  push:
    tags: [ '*' ]

env:
  CI: true
  GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
  PGP_PASSPHRASE: ${{secrets.PGP_PASSPHRASE}}

jobs:
  publish:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v5
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: zulu
          java-version: 17
          cache: sbt

      - name: Install sbt
        uses: sbt/setup-sbt@v1

      - name: Run tests
        run: sbt +test

        
      - name: Import PGP key
        run: echo -e "${{secrets.GPG_KEY}}" | gpg --batch --import

      - name: Publish packages
        run: |
          sbt +publishSigned

